/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

:root {
  /*- COLORI PRIMARIO -*/
  --clr-primary-0: black;

  /*- COLORI SECONDARIO -*/
  --clr-secondary-0: white;

  /*-COLORI BG -*/
  --clr-bg-0: rgb(44, 62, 80);
  --clr-bg-1: rgb(26, 188, 156);
  --clr-bg-2: rgb(11, 214, 161);
  --clr-bg-3: rgb(58, 84, 109);

  /*- DIMENSIONI GUTTER*/
  --gutter-xs: 0.25rem;
  --gutter-sm: 0.5rem;
  --gutter-md: 1rem;
  --gutter-lg: 1.5rem;
  --gutter-xl: 2rem;
  --gutter-xxl: 3rem;
}

/*╔═══════════════╗
       DEBUG
  ╚═══════════════╝*/

.debug header {
  background-color: aqua;
}

.debug aside {
  background-color: black;
}

.debug .content {
  background-color: coral;
}

.debug footer {
  background-color: brown;
}

/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

body {
  font-family: 'rotobo', sans-serif;
  color: var(--colore-testo);
}

/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/

/*╔═══════════════╗
    SECTION ABOUT
  ╚═══════════════╝*/
  .about {
    background-color: var(--clr-bg-1);
    color: white;
  }
  .about .container {
    text-align: center;
  }
  .about h2 {
    text-transform: uppercase;
  }

  .about hr {
    width: 30%;
  }

  .about .col-6 {
    text-align: left;
  }
