/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

:root {
  /*- COLORI PRIMARIO -*/
  --clr-primary-0: black;

  /*- COLORI SECONDARIO -*/
  --clr-secondary-0: white;

  /*-COLORI BG -*/
  --clr-bg-0: rgb(44, 62, 80);
  --clr-bg-1: rgb(26, 188, 156);
  --clr-bg-2: rgb(11, 214, 161);
  --clr-bg-3: rgb(58, 84, 109);

  /*- DIMENSIONI GUTTER*/
  --gutter-xs: 0.25rem;
  --gutter-sm: 0.5rem;
  --gutter-md: 1rem;
  --gutter-lg: 1.5rem;
  --gutter-xl: 2rem;
  --gutter-xxl: 3rem;
}

/*╔═══════════════╗
       DEBUG
  ╚═══════════════╝*/

.debug header {
  background-color: aqua;
}

.debug aside {
  background-color: black;
}

.debug .content {
  background-color: coral;
}

.debug footer {
  background-color: brown;
}

/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

body {
  font-family: 'rotobo', sans-serif;
  color: var(--colore-testo);
}

/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/

/*╔═══════════════╗
    SECTION FORM
  ╚═══════════════╝*/
.form {
    width: 60%;
    margin: auto;
}
.form-title {
    text-align: center;
    text-transform: uppercase;
    color: #2c3e50;
}
/* decoration */
.deco {
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    height: 2px;
    width: 15%;
    background-color: #2c3e50;
}
.star {
    font-size: 24px;
    color: #2c3e50;
}