/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

:root {
  /*- COLORI PRIMARIO -*/
  --clr-primary-0: black;

  /*- COLORI SECONDARIO -*/
  --clr-secondary-0: white;

  /*-COLORI BG -*/
  --clr-bg-0: rgb(44, 62, 80);
  --clr-bg-1: rgb(26, 188, 156);
  --clr-bg-2: rgb(11, 214, 161);
  --clr-bg-3: rgb(58, 84, 109);

  /*- DIMENSIONI GUTTER*/
  --gutter-xs: 0.25rem;
  --gutter-sm: 0.5rem;
  --gutter-md: 1rem;
  --gutter-lg: 1.5rem;
  --gutter-xl: 2rem;
  --gutter-xxl: 3rem;
}

/*╔═══════════════╗
       DEBUG
  ╚═══════════════╝*/

.debug header {
  background-color: aqua;
}

.debug aside {
  background-color: black;
}

.debug .content {
  background-color: coral;
}

.debug footer {
  background-color: brown;
}

/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

body {
  font-family: 'rotobo', sans-serif;
}

/*╔═══════════════╗
       HEADER
  ╚═══════════════╝*/
  header {
    color: var(--clr-secondary-0);
  }

  .header-nav__list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 0 .625rem;
    margin-bottom: 0rem;
  }

  .header-nav__link {
    text-decoration: none;
    color: var(--clr-secondary-0);
  }

  .ms_btn-header {
    font-size: 1.25rem;
  }

/*╔═══════════════╗
       HERO
  ╚═══════════════╝*/
  .hero {
    color: var(--clr-secondary-0);
    text-align: center;
  }

  .hero__img {
    height: 15.625rem;
  }

  .hero__decoration {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero__decoration-bar {
    background-color: var(--clr-secondary-0);
    width: 15%;
    height: .25rem;
    border: .0625rem solid var(--clr-secondary-0);
    border-radius: .625rem;
    margin: 0 .625rem;
  }

  .hero__decoration-icon {
    font-size: 1.5rem;
  }


/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/
